/**
 * 为避免打包代码量过大，较大的（大于一百行）第三方样式建议不要使用@import引入，使用CDN引入即可
 * 例如：swiper.scss就不要使用@import引入，直接使用<link rel="stylesheet" href="https://static.yindou.com/web/css/swiper.min.css">
 */
@import "normalize/index.scss";  /* resets */
@import "animation/index.scss";  /* 常用动画 */
@import "mixins/index.scss";  /* mixins */

@include font-size(16px, "p");
@include font-size(69px, ".main i");

@font-face {
    font-family: "lgdxkjt";
    src: url("./iconfonts/fonts/lgdxkjt.eot"); /* IE9 */
    src: url("./iconfonts/fonts/lgdxkjt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./iconfonts/fonts/lgdxkjt.woff") format("woff"), /* chrome、firefox */
    url("./iconfonts/fonts/lgdxkjt.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("./iconfonts/fonts/lgdxkjt.svg#lgdxkjt") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}
.clearfix {
    @include clearfix();
}
::-webkit-input-placeholder { /* WebKit browsers */ 
    line-height: 1;
}
html, body {
    height: 100%;
    line-height: 1;
    font-family: 'Microsoft Yahei Mono';
    -webkit-font-smoothing: antialiased;
}

