<!DOCTYPE html>
<html>

<head>
	<title>银豆网</title>
	<script src="https://static.yindou.com/weixin/js/flexible_css.js"></script>
	<script src="https://static.yindou.com/weixin/js/flexible.js"></script>
</head>

<body>
	<div id="app" class="main">
		<div class="progress-block" v-if="show_progress">
            <div class="progress-outer">
                <div class="progress-enter">
                    <div class="progress-bg" :style="{width: progress_percent + '%'}"></div>
                </div>
                <div class="tooltip ft-15" :style="{left: 'calc(' + progress_percent + '%)'}">{{progress_percent}}%</div>
            </div>
        </div>
        <router-view></router-view>
	</div>
	<template id="home">
		<div class="pages" v-if="!show_progress">
			<div class="page01" :class="doorZoomOut" v-cloak v-if="page_show==1">
				<div class="snowing"></div>
				<div class="page01-inner" ref="snowing" :style="{ animationPlayState: animationPlayState }"></div>
				<a ref="gomarket" href="#" class="gomarket" :style="{ animationPlayState: animationPlayState }" v-animation:click="gomarket">开始囤货</a>
			</div>
			<div class="page02" v-cloak v-if="page_show==2">
				<div class="page02-room">
					<div class="page02-room-inner">
						<div v-for="(coupon, index) in marketCoupons" :key="coupon.id" :class="[{checked: coupon.checked}, {mid: index === 1 || index === 4 || index === 7 || index === 10}, {couplet: index >= 3 && index <= 5 || index >= 9 && index <= 11}, 'coupon' ]" @click="handleCheckedCoupon(index)">
							<span class="value"><span>{{coupon.firstBit}}</span>{{coupon.plusBit}}<span class="unit">{{coupon.unit}}</span></span>
							<span class="trapezoid">{{coupon.name}}</span>
							<transition name="checkCoupon">
								<span v-if="coupon.checked" class="mask">我要了</span>
							</transition>
						</div>
					</div>
					<a class="btn" href="javascript:void(0);" @click="takeWantCoupon">免费拿走</a>
					<router-link class="mine" :to="{name: 'records', params: {page: 2}}">查看我的年货</router-link>
				</div>
				<a href="javascript: void(0);" class="rule" @click="openRulesDialog = !openRulesDialog">规则</a>
			</div>
			<div class="page03" v-cloak v-show="page_show==3">
				<transition name="v-letter-up">
					<div v-if="page_show==3" class="page03-content">
						<span class="mine-coupon"></span>
					</div>
				</transition>
				<a href="javascript: void(0);" class="rule" @click="openRulesDialog = !openRulesDialog">规则</a>
			</div>
			<v-dialog :show-dialog="openBindDialog" is-btn @close-dialog="closeBindDialog">
				<div class="result" slot="result">
					<p>对不起～<br>您只有完成服务号绑定<br>才能领取您的年货，快去绑定吧～</p>
				</div>
			</v-dialog>
			<v-dialog :show-dialog="openRetakeDialog" is-btn @close-dialog="closeRetakeDialog">
				<div class="result" slot="result">
					<p>您可选的年货数量已用完<br>如果想要重新选择<br>直接点击不满意的年货即可～</p>
				</div>
			</v-dialog>
			<v-dialog :show-dialog="openTakedDialog" is-btn @close-dialog="closeTakedDialog">
				<div class="result" slot="result">
					<p>您挑选的3件年货<br>已经发送到您的平台账户</p>
				</div>
			</v-dialog>
			<v-dialog :show-dialog="openUntakeDialog" is-btn @close-dialog="closeUntakeDialog">
				<div class="result" slot="result">
					<p>请先挑选年货哦~</p>
				</div>
			</v-dialog>
			<!-- <v-dialog :show-dialog="openNotakeDialog" is-btn @close-dialog="closeNotakeDialog">
				<div class="result" slot="result">
					<p>您今天可选的年货数量已用完了哦~</p>
				</div>
			</v-dialog> -->
			<v-dialog :show-dialog="openRulesDialog" @global-close-dialog="globalCloseDialog" @close-dialog="closeRulesDialog">
				<div class="rules" slot="rules">
					<p>1.活动期间，每人每天可任选3个奖励，如果出借金额（期限≥30天的直投项目金额-活动期间用户债权转让金额）达到5万元，则每天可以任选6个奖励；</p>
					<p>2.以天为单位，可一次性领取3/6个奖励，也可选择任意时段分批次领取全部或部分奖励；</p>
					<p>3.所获现金卡/现金券奖励均为0.8%，现金卡可以按比例多次激活使用，现金券则为一次性激活使用。有效期7天；</p>
					<p>4.所有奖励内容，均用于出借项目期限≧30天直投项目，自动投标、手动投标均可计入（新手标除外）有效期7天；</p>
					<p>5.本次活动最终解释权归银豆网所有。</p>
				</div>
			</v-dialog>
		</div>
	</template>
	<template id="records">
		<div class="records" v-cloak>
			<div class="records-table">
				<div class="records-table-header">
					<span>日期</span>
					<span>年货</span>
				</div>
				<div v-if="coupons.length > 0" class="records-table-body">
					<div class="item" v-for="coupon in coupons" :key="coupon.date">
						<span>{{coupon.date}}</span>
						<span>{{coupon.j_name}}</span>
					</div>
				</div>
				<div v-else class="empty">暂无年货记录</div>
			</div>
		</div>
	</template>
	<template id="dialog">
		<transition name="v-dialog-fade">
			<div class="v-dialog" v-if="showDialog">
				<div class="v-dialog-mask" @click="globalCloseDialog"></div>
				<div class="v-dialog-content">
					<div class="v-dialog-content-top">
						<slot name="result"></slot>
						<slot name="rules"></slot>
					</div>
					<div class="v-dialog-content-btns">
						<a v-if="isBtn" href="javascript:;" @click="closeDialog" class="btn">知道了</a>
					</div>
				</div>
			</div>
		</transition>
	</template>

	<!-- end line, please don't delete -->
	<script src="./index.js"></script>
</body>

</html>