/**
 * 打字效果
 */
 @keyframes panoramic{
    to {
        background-position: 200% 0;
    }
}

@keyframes openDoorBtn {
    0% {
        opacity: 1;
        transform: translateX(-50%) scale3d(1, 1, 1);
    }
    10%, 
    100% {
        opacity: 0;
        transform: translateX(-50%) scale3d(.2, .2, .2);
    }
}